@font-face {
  font-family: 'Doctum Bold';
  src: url('../fonts/Jalnan.ttf') format('truetype');
}

@font-face {
  font-family: 'Doctum Light';
  src: url('../fonts/Jalnan.ttf') format('truetype');
}

@font-face {
  font-family: 'Player Title';
  src: url('../fonts/NotoSansKR-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Tier Title';
  src: url('../fonts/NotoSansKR-Regular.ttf') format('truetype');
}